/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;

  color: #5a5a5a;
  font-family: 'Roboto', sans-serif;
}

footer {
  height: 5rem;
}

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}
.nav-break {
  display: none;
}

.blue {
  color: #a2bfc2;
}

.orange {
  color: rgb(204, 168, 118);
}

.black {
  color: #414535;
}

.white {
  color: white;
}

.white:hover {
  color: white;
}

.white-bg {
  background-color: white;
}

.blue-bg {
  background-color: #a2bfc2;
  border-color: #a2bfc2;
}

.red-bg {
  background-color: #a4243b;
  border-color: #a4243b;
}

.orange-bg {
  background-color: rgb(204, 168, 118);
  border-color: rgb(204, 168, 118);
}

.black-bg {
  background-color: #414535;
  border-color: #414535;
}

.btn {
  font-size: large;
  font-weight: 500;
}

#firstRow {
  margin-top: 5rem;
}

.nav-link {
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .thirdRowPara {
    min-height: 8rem;
  }

  .thirdRowHeading {
    height: 4rem;
    margin-bottom: 1rem;
    margin-top: 4rem;
    font-weight: 700;
  }

  .navbar-collapse {
    position: fixed;
    top: 110px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 100%;
  }

  .nav-link {
    font-size: 1.6rem;
    top: 1rem;
  }

  .nav-break {
    display: block;
    background-color: white;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .navbar-collapse.collapsing {
    left: -100%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
    color: azure;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
    border: 0em;
  }
}

#but:focus {
  outline: none;
}

.firstHeading {
  margin-top: 100px;
}

#opening-image {
  background-image: url('https://images.unsplash.com/photo-1461360370896-922624d12aa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  display: block;
  margin-top: 65px;
  width: 100vw;
}

#mainHeading {
  font-size: 2rem;
}

#ysni {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  #brand {
    width: 200px;
  }

  .thirdRowPara {
    min-height: 12rem;
  }

  .thirdRowHeading {
    height: 5rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
}

#accordionAboutUs {
  margin-bottom: 10rem;
  margin-top: 4rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.lead {
  font-weight: 400;
}

/* Featurettes
------------------------- */

/* Thin out the marketing headings */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}
